<template>
  <v-row justify="center">
    <v-card class="pa-3" min-height="250" min-width="500">
      <v-card-title>
        <span class="headline">Welcome</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container py-0>
            <v-layout wrap justify-space-around>
              <v-flex xs12>
                <v-text-field
                  class="purple-input"
                  :label="config.fieldText"
                  v-model="phone"
                  :append-icon="e1 ? 'mdi-eye' : 'mdi-eye-off'"
                  :append-icon-cb="() => (e1 = !e1)"
                  :type="e1 ? 'phone' : 'text'"
                  counter
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions class="pa-6">
        <v-btn
          block
          class="mx-0 font-weight-light"
          color="info"
          @click="onClick"
          :class=" { 'blue darken-4 white--text' : valid, disabled: !valid }"
        >{{ config.buttonText }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-row>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { EventBus } from '../utils/eventBus';

export default {
  data() {
    return {
      valid: false,
      e1: false,
      phoneRules: [v => !!v || "Field is required"],
      email: ""
    };
  },
  computed: {
    ...mapState('auth', ['config']),
    phone: {
      set(phone) {
        this.setPhone({phone});
      },
      get() {
        return this.config.phone
      }
    }
  },
  methods: {
    ...mapActions("auth", ["setPhone"]),
    onClick(e) {
      debugger
      if (this.config.confirmationMode) {
        this.onConfirmCode(e);
      } else {
        this.submit(e);
      }
    },
    submit(e) {
      if (this.$refs.form.validate()) {
        EventBus.$emit('LOG_IN', { phone: this.phone })
      }
    },
    onConfirmCode() {
      EventBus.$emit('CONFIRMATION', { code: this.phone })
    },
    clear() {
      this.$refs.form.reset();
    }
  }
};
</script>

<style scoped lang="stylus">
#app {
  background-image: url('https://images.unsplash.com/photo-1497733942558-e74c87ef89db?dpr=1&auto=compress,format&fit=crop&w=1650&h=&q=80&cs=tinysrgb&crop=');
  background-size: cover;
  overflow: hidden;
}

.loginOverlay {
  height: 100vh;
  background: rgba(33, 150, 243, 0.1);
}
</style>
