<template>
  <v-row justify="center">
    <v-col class="messenger-wrapper">
      <Messages :chats="getOwnMessages"/>
    </v-col>
  </v-row>
</template>

<script>
import Messages from "../components/Messages";
import { mapGetters } from 'vuex';

export default {
  components: {
    Messages
  },
  computed: {
    ...mapGetters("messages", ["getOwnMessages"])
  }
};
</script>

<style lang="stylus" scoped></style>