<template>
  <v-row class="fill-height">
    <v-col v-if="hasResults">
      <v-row class="result-wrapper mx-auto fill-height">
        <v-col class="fill-height" cols="12" xl="2">
          <ChatList
            @item-selected="onSelectedChange"
            v-if="hasChats"
            :type="getSearchResults.chats"
          />
          <ChatList
            @item-selected="onSelectedChange"
            v-if="hasPublicChats"
            :type="getSearchResults.publicChats"
          />
        </v-col>
        <v-col class="fill-height" cols="12" xl="10">
          <MessagesColumn v-if="getSelected" :messages="getSelectedMessages" :id="String(selected)"/>
        </v-col>
      </v-row>
    </v-col>
    <v-col v-else>
      <v-row align="center" justify="center" class="fill-height text-center no-results">
        <h1>Search results.</h1>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import MessagesColumn from "../components/MessagesColumn";
import ChatList from "../components/ChatList";
import { mapGetters, mapState, mapActions } from "vuex";
import { EventBus } from '../utils/eventBus';

export default {
  components: {
    ChatList,
    MessagesColumn
  },
  computed: {
    ...mapGetters("chats", ["getSearchResults", "getSelected", "getChat"]),
    ...mapState("search", ["result"]),
    ...mapState("chats", ["selected"]),
    getSelectedMessages() {
      return this.$store.getters["messages/getChatMessages"](this.selected)
        ?.slice()
        ?.reverse();
    },
    hasChats() {
      return this.getSearchResults.chats.items.length > 0;
    },
    hasPublicChats() {
      return this.getSearchResults.publicChats.items.length > 0;
    },
    hasResults() {
      return this.result.chats.length > 0 || this.result.publicChats.length > 0;
    }
  },
  watch: {
    hasResults: "onHasResultChange"
  },
  methods: {
    ...mapActions("chats", ["setSelected"]),
    onSelectedChange(id) {
      this.setSelected(id);
      
      const chat = this.getChat(id);
      EventBus.$emit("GET_MESSAGES", {
        chatId: id,
        fromId: chat.lastMessage.id,
        replace: true
      });
    },
    onHasResultChange(newValue, oldValue) {
      if (newValue) {
        const chats = [
          ...this.getSearchResults.chats.items,
          ...this.getSearchResults.publicChats.items
        ];
        const chat = chats[0];
        this.setSelected(chat.id);
      } else {
        this.setSelected("");
      }
    }
  }
};
</script>

<style lang="stylus" scoped>
.result-wrapper {
  // max-width: 500px;
}
</style>