<template>
  <v-list :rounded="true" color="transparent" dense two-line class="pa-4">
    <v-subheader inset>{{type.title}}</v-subheader>

    <template v-for="(chat, index) in type.items">
      <v-list-item color="grey darken-4" :key="chat.id" @click="onClick(chat.id)">
        <v-list-item-avatar>
          <v-icon class="user-avatar grey lighten-1 white--text font-weight-bold font-normal">U</v-icon>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title v-html="chat.title"></v-list-item-title>
          <v-list-item-subtitle v-if="chat.lastMessage" v-html="getLastMessage(chat)"></v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider class="my-2" :key="index" v-if="index < type.items.length - 1"></v-divider>
    </template>
  </v-list>
</template>

<script>
export default {
  props: {
    type: Object
  },
  methods: {
    onClick(id) {
      this.$emit('item-selected', id)
    },
    getLastMessage(chat) {
      return (
        chat?.lastMessage?.content?.text?.text ||
        chat?.lastMessage?.caption?.text
      );
    }
  }
};
</script>

<style lang="stylus" scoped></style> 