<template>
    <v-list dense three-line>
        <template v-for="(chat, index) in getOwnwedChats">
            <v-list-item
                :key="chat.id"
                @click=""
            >
                <v-list-item-avatar>
                    <v-icon
                        class="user-avatar grey lighten-1 white--text font-weight-bold font-normal"
                    >U</v-icon>
                </v-list-item-avatar>

                <v-list-item-content>
                    <v-list-item-title v-html="chat.title"></v-list-item-title>
                    <v-list-item-subtitle v-if="chat.lastMessage" v-html="getLastMessage(chat)"></v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>

            <v-divider :key="index" v-if="index < getOwnwedChats.length - 1" ></v-divider>
        </template>
    </v-list>
</template>

<script>
    import {mapActions, mapState, mapGetters} from "vuex";

    export default {
        computed: {
            ...mapGetters('chats', ['getOwnwedChats']),
        },

        methods: {
            getLastMessage(chat) {
               return chat?.lastMessage?.content?.text?.text || chat?.lastMessage?.caption?.text
            }
        }
    }
</script>

<style scoped lang="stylus">
    .user-avatar
        font-style: normal !important;
</style>