<template>
    <v-content fill-height
                class="pb-0">
        <v-container
                fill-height
                fluid
                grid-list-xl>
                <v-fade-transition mode="out-in">
                    <router-view/>
                </v-fade-transition>
        </v-container>
    </v-content>
</template>

<script>
    export default {};
</script>

<style lang="less">

</style>
