<template>
  <v-navigation-drawer v-model="drawerModel" app clipped>
    <component :is="component" />
  </v-navigation-drawer>
</template>

<script>
import SearchDrawer from '../components/SearchDrawer'
import ChatDrawer from '../components/ChatDrawer'

import { mapActions, mapState, mapGetters } from "vuex";

export default {
  components: {
      SearchDrawer,
      ChatDrawer
  },
  computed: {
    ...mapState("app", ["drawer"]),
    component() {
      if (this.$route.path === "/search") {
        return "SearchDrawer";
      }

      return "ChatDrawer";
    },
    drawerModel: {
      get() {
        return this.drawer;
      },
      set(val) {
        this.setDrawer(val);
      }
    }
  },

  methods: {
    ...mapActions("app", ["setDrawer"]),
  }
};
</script>

<style scoped lang="stylus">
.user-avatar {
  font-style: normal !important;
}
</style>