<template>
  <v-card class="mx-auto message-column-inner-wrapper" min-height="900" height="100%">
    <v-toolbar class="message-column-toolbar" color="indigo darken-3" dark>
      <v-app-bar-nav-icon></v-app-bar-nav-icon>

      <v-toolbar-title>{{ chat.title }}</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-toolbar>

    <v-container class="message-column-container" fluid>
      <v-row class="message-column-container-row">
        <v-col class="message-column-container-col px-1 pb-0 pt-12">
          <VMessageList
            v-if="messages && messages.length"
            :chat="chat"
            :messages="messages"
            :id="id"
          />
        </v-col>
        <v-col class="messenger-controls-wrapper">
          <VControls :id="id"/>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import VMessageList from "./VMessageList";
import VControls from "./VControls";
import { mapActions } from "vuex";
export default {
  props: {
    messages: Array,
    id: String
  },
  components: {
    VMessageList,
    VControls
  },
  computed: {
    chat() {
      return this.$store.getters["chats/getChat"](this.id);
    }
  },
  destroyed() {
    this.removeMessages(this.id);
  },
  methods: {
    ...mapActions("messages", ["removeMessages"])
  }
};
</script>

<style lang="stylus" scoped>
.messenger-controls-wrapper {
  padding: 0 10px;
  position: absolute;
  height: 100px;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

::v-deep {
  .v-text-field__details {
    display: none;
  }

  .v-input {
    height: 100% !important;
  }

  .v-input__control {
    height: 100% !important;
  }

  .v-input__slot {
    height: 100% !important;
    display: flex !important;
    background: unset !important;
  }

  .v-input__append-inner, .v-input__append-outer {
    align-self: center;
  }
}

.message-column-inner-wrapper {
  position: relative;

  .message-column-toolbar {
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .message-column-container {
    position: absolute;
    height: 100%;

    .message-column-container-col {
      position: absolute;
      height: calc(100% - 100px);
      width: 100%;
      top: 0;
    }

    .message-column-container-row {
      height: 100%;
    }

    .message-column-container-row, .message-column-container-col {
      display: flex;
      align-items: flex-end;
    }
  }
}
</style>