<template>
  <v-container fluid class="px-9">
    <v-row dense>
      <v-col v-for="(messages, key) of chats" :key="key" cols="12" xl="2" lg="6" md="12" sm="12" xs="12">
        <MessagesColumn :key="key" :messages="messages.slice().reverse()" :id="key"/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import MessagesColumn from "./MessagesColumn";

export default {
  props: {
    chats: Object
  },
  components: {
    MessagesColumn
  },
};
</script>

<style scoped lang="stylus"></style>