<template>
  <v-tabs right align-with-title class="tabs-wrapper">
    <v-tab v-for="(link, i) in link" :key="i" :to="link.path">{{link.name}}</v-tab>
  </v-tabs>
</template>

<script>
import routes from "../router/routes";

export default {
  data() {
    return {
      link: routes
    };
  }
};
</script>

<style lang="stylus" scoped>
.tabs-wrapper {
  display: contents;
}
</style>