<template>
  <v-textarea
    v-model="message"
    :append-icon="icon"
    append-outer-icon="mdi-send"
    filled
    clear-icon="mdi-close-circle"
    clearable
    label="Message"
    type="text"
    @click:append="toggleMarker"
    @click:append-outer="sendMessage"
    @click:prepend="changeIcon"
    @click:clear="clearMessage"
  ></v-textarea>
</template>

<script>
import { EventBus } from '../utils/eventBus';
export default {
  props: {
    id: String
  },
  data: () => ({
    password: "Password",
    show: false,
    message: "",
    marker: true,
    iconIndex: 0,
    icons: [
      "mdi-emoticon",
      "mdi-emoticon-cool",
      "mdi-emoticon-dead",
      "mdi-emoticon-excited",
      "mdi-emoticon-happy",
      "mdi-emoticon-neutral",
      "mdi-emoticon-sad",
      "mdi-emoticon-tongue"
    ]
  }),

  computed: {
    icon() {
      return this.icons[this.iconIndex];
    }
  },

  methods: {
    toggleMarker() {
      this.marker = !this.marker;
    },
    sendMessage() {
      // this.resetIcon()

      const formattedText = {
        "@type": "formattedText",
        text: this.message,
        entities: []
      };
      const inputContent = {
        "@type": "inputMessageText",
        text: formattedText,
        disable_web_page_preview: false,
        clear_draft: false
      };

      EventBus.$emit("SEND_MESSAGE", {
        chatId: this.id,
        content: inputContent
      });

      this.clearMessage();
    },
    clearMessage() {
      this.message = "";
    },
    resetIcon() {
      this.iconIndex = 0;
    },
    changeIcon() {
      this.iconIndex === this.icons.length - 1
        ? (this.iconIndex = 0)
        : this.iconIndex++;
    }
  }
};
</script>

<style scoped lang="stylus"></style>   