<template>
  <v-alert :value="true" :color="color" class="message-wrapper white--text" v-html="text">{{text}}</v-alert>
</template>

<script>
const urlRegex = require("url-regex");
import { getMessage } from "../utils/MessageRegister";

export default {
  props: ["id", "date", "content", "color", "authorTitle"],
  computed: {
    text() {
      const context = this.content.text || this.content.caption;
      return context
        ? this.transformLinks(context.text)
        : getMessage(this.content["@type"], { title: this.id });
    }
  },
  methods: {
    onChipClicked() {
      // toggle massage date
      this.showDate = !this.showDate;
    },
    transformLinks(text) {
      if (!text) return text;

      const urls = text.match(urlRegex());

      if (Array.isArray(urls)) {
        urls.forEach(url => {
          text = text.replace(
            url,
            `<a target="_blank" class="message-link" href="${url}">${url}</a>`
          );
        });
      }

      return text;
    }
  }
};
</script>

<style scoped lang="stylus">
.message-wrapper {
  word-break: break-all;
}

::v-deep {
  .message-link {
    color: #7bceff !important;
    word-break: break-all;
  }
}
</style>
