<template>
  <v-timeline
    ref="messagesTimeline"
    align-top
    class="overflow-y-auto message-list-inner-wrapper px-2"
  >
    <v-timeline-item
      class="message-list-item pb-0"
      v-for="(item, index) in messages"
      :key="index"
      :hide-dot="true"
      :right="item.sender_user_id !== user.id"
      :left="item.sender_user_id === user.id"
    >
      <template v-slot:icon>
        <v-avatar width="25" height="25">
          <img src="http://i.pravatar.cc/64" />
        </v-avatar>
      </template>
      <span class="message-spacer" v-if="item.sender_user_id === user.id"></span>
      <VMessage
        :color="item.sender_user_id === user.id ? 'blue' : 'blue-grey darken-3'"
        :id="item.id"
        :content="item.content"
        :date="item.date"
      />
      <span class="message-spacer" v-if="item.sender_user_id !== user.id"></span>
    </v-timeline-item>
  </v-timeline>
</template>

<script>
import VMessage from "./VMessage";
import { EventBus } from "../utils/eventBus";
import { mapState } from "vuex";

export default {
  props: {
    messages: Array,
    id: String
  },
  components: {
    VMessage
  },
  computed: {
    ...mapState("user", ["user"])
  },
  watch: {
    id() {
      requestAnimationFrame(() => {
        this.container.scrollTop = this.container.scrollHeight;
        this.lastScrollHeight = this.container.scrollHeight;
      });
    },
    messages(newMessages) {
      if (this.lastScrollHeight) {
        // when new messages are rendered we scroll down the first message of the new messages
        requestAnimationFrame(() => {
          // new messages are renderer
          this.container.scrollTop =
            this.container.scrollHeight - this.lastScrollHeight;
          this.lastScrollHeight = null;
        });
      }
    }
  },
  mounted() {
    this.container = this.$refs.messagesTimeline.$el;
    this.container.scrollTop = this.container.scrollHeight;
    this.lastScrollHeight = this.container.scrollHeight;

    this.container.addEventListener("scroll", this.onScroll, this);
  },
  beforeDestroy() {
    this.container.removeEventListener("scroll", this.onScroll, this);
    this.container = null;
  },
  methods: {
    onScroll(e) {
      // should be called only by user interaction !

      // when scrolled to top of message list fetch new messages
      if (e.target.scrollTop === 0) {
        const lastMessage = this.messages[0]; // first in the array since it's reversed

        if (lastMessage && this.id) {
          this.lastScrollHeight = e.target.scrollHeight;

          EventBus.$emit("GET_MESSAGES", {
            chatId: this.id,
            fromId: lastMessage.id
          });
        }
      }
    }
  }
};
</script>

<style scoped lang="stylus">
::v-deep {
  .v-application--is-ltr {
    .v-timeline:not(.v-timeline--dense):not(.v-timeline--reverse):before {
      display: none !important;
    }
  }

  .v-timeline.theme--light {
    display: none !important;
  }

  .v-timeline-item__body {
    max-width: fit-content !important;
    display: flex;
  }
}

::v-deep.v-timeline:before {
  display: none;
}

::v-deep.v-timeline-item__divider {
  display: none;
}

.message-list-inner-wrapper {
  height: auto;
  max-height: 100%;
  width: 100%;

  .message-list-item {
    justify-content: flex-end;

    .message-spacer {
      min-width: 40px;
    }

    ::v-deep {
      .v-timeline-item__divider {
        display: none;
      }
    }
  }
}
</style>
