<template>
  <v-text-field
    @blur="onBlur"
    @focus="onFocus"
    v-model="query"
    class="search-input mx-auto"
    flat
    solo-inverted
    hide-details
    prepend-inner-icon="mdi-magnify"
    label="Search"
  />
</template>

<script>
import { EventBus } from "../utils/eventBus";
import { debounce } from "../utils/commons";

export default {
  data() {
    return {
      query: ""
    };
  },
  watch: {
    query: "onQueryChange"
  },
  methods: {
    onQueryChange: debounce((query) => {
      EventBus.$emit("SEARCH_QUERY_CHANGE", { query });
    }, 500),
    onBlur() {
      if (this.query === '') {
        this.$router.push('/');
      }
    },
    onFocus() {
      this.$router.push('/search');
    }
  }
};
/**
 *  0: -1001301718564
    1: -1001050008285
    2: 27594165
 */
</script>

<style lang="stylus" scoped></style>