<template>
  <v-app id="inspire">
    <Drawer />

    <v-app-bar app clipped-left>
      <v-app-bar-nav-icon v-if="menu" @click.stop="onMenuClick" />
      <v-toolbar-title style="width: 300px">Application</v-toolbar-title>

      <!-- <template v-slot:extension> -->
      <VSearch />
      <!-- </template> -->

      <NavigationTabs />
    </v-app-bar>

    <CoreView />

  </v-app>
</template>

<script>
import CoreView from "./components/CoreView";
import VSearch from "./components/VSearch";
import NavigationTabs from "./components/NavigationTabs";
import Drawer from "./components/Drawer";
import { mapState, mapActions } from "vuex";

export default {
  components: {
    CoreView,
    NavigationTabs,
    VSearch,
    Drawer
  },
  props: {
    source: String
  },
  computed: {
    ...mapState("app", ["drawer", "menu"])
  },
  created() {
    this.$vuetify.theme.dark = true;
  },
  methods: {
    ...mapActions("app", ["toggleDrawer"]),
    onMenuClick() {
      this.toggleDrawer();
    }
  }
};
</script>

<style lang="stylus" scoped>
.search-input {
  max-width: 500px;
}
</style>

<style lang="stylus">
/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>